.SearchInput {
    color: black;
    height: 100%;
    background-color: #ffa500;
    font-size: 20px;
    font-family: "Poppins";
  
    outline: none;
    border: none;
  }
  
  .search-icon {
    color: white;
    align-items: center;
    background-color: #b81f32;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    outline: none;
    transition: all 0.5s ease;
  }
  
  .search-icon.active {
    color: white;
    background-color: #ffa500;
    transition: all 0.5s ease;
  }
  
  ::placeholder {
    color: white;
  }
  
  .SearchBar {
    position: absolute;
    height: 0px;
    width: 155px;
    right: 0;
    bottom: 0;
    transition: all 0.5s ease;
    overflow: hidden;
    opacity: 20;
  }
  .extra_button {
    opacity: 0.8;
    background-color: #ffa500;
    height: 40px;
    padding-top: 10px;
  }
  
  .extra_button:hover {
    opacity: 1;
    background-color: #ffa500;
  }
  
  .SearchBar.active {
    height: 50px;
    opacity: 1;
  }
  
  .SearchBar2 {
    position: absolute;
    height: 0px;
    width: 155px;
    left: -40px;
    bottom: 0;
    transition: all 0.5s ease;
    overflow: hidden;
    opacity: 20;
  }
  
  .SearchBar2.active {
    height: 50px;
    opacity: 1;
  }
  